# ===== API =====
fastapi
uvicorn[standard]

# ===== ML / DL =====
torch
scikit-learn

# ===== Data Processing =====
pandas
numpy

# ===== Technical Indicators =====
ta

# ===== Stock API =====
upstox-python-sdk

# ===== Env Management =====
python-dotenv

# ===== HTTP Requests =====
requests

# ===== Backtesting / Analysis =====
matplotlib

# ===== Utilities =====
tqdm
joblib


# ===== lint =====
black
ruff

# =====upstox-python-sdk=====
pyarrow